# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
backend/lambda.zip
backend/*.zip
backend/replicator/*.zip
backend/replicator/__pycache__/
backend/replicator/invoke_meta.json
backend/replicator/invoke_response.json
backend/__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
